@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family:
    sans-serif,
    system-ui,
    -apple-system,
    Segoe UI,
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @apply text-col-black-1 dark:bg-col-black-1 dark:text-col-grey-1 flex min-h-screen flex-col bg-white text-base font-normal;
}

/* wrapper */
.wrapper {
  @apply mx-auto w-full max-w-[1640px];
}
.sections-wrapper {
  @apply wrapper px-2 pb-8 md:px-8 md:pb-16;
}

/* border */
.border {
  @apply border-2 border-solid;
}
.border-dark {
  @apply border-col-black-1 border;
}
.border-light {
  @apply border-col-black-1 dark:border-col-grey-1 border;
}
.border-hover {
  @apply hover:border-col-black-1 border border-transparent dark:hover:border-white;
}
.border-hover-blue {
  @apply hover:border-col-blue-4 dark:hover:border-col-blue-2 border-b-2 border-solid border-transparent;
}

/* text */
.font-h2 {
  @apply font-bold sm:text-[28px] sm:leading-8 sm:tracking-[-.25px] lg:text-4xl lg:leading-[44px] lg:tracking-[-.75px];
}
.font-h2-large {
  @apply text-base font-medium sm:text-[32px] sm:leading-8 sm:tracking-[-.8px] lg:text-5xl lg:leading-[56px];
}
.font-h3 {
  @apply font-medium sm:text-xl sm:leading-6 sm:tracking-[-.5px] lg:text-2xl lg:leading-[30px];
}
.font-h3-large {
  @apply font-medium sm:text-[32px] sm:leading-8 sm:tracking-[-.8px];
}
.font-h5 {
  @apply font-medium uppercase sm:text-xs sm:leading-5 sm:tracking-[.5px];
}
.font-span-serif {
  @apply text-sm leading-6 tracking-[.2px];
  font-family: serif;
}
.font-span {
  @apply text-sm leading-6 tracking-[.2px];
}
.font-p {
  @apply sm:text-lg sm:leading-6 lg:text-base;
}
.font-more {
  @apply border-hover-blue text-col-blue-4 focus-within:outline-col-blue-4 focus:outline-col-blue-4 active:outline-col-blue-4 dark:text-col-blue-2 dark:focus-within:outline-col-blue-2 dark:focus:outline-col-blue-2 dark:active:outline-col-blue-2 cursor-pointer rounded-sm font-medium focus-within:outline focus-within:outline-2 focus:outline focus:outline-2 active:outline active:outline-2;
}
.font-more-l {
  @apply font-more border-hover-blue hidden text-xl leading-7;
}
.font-more-s {
  @apply font-more border-hover-blue text-base leading-6;
}
