@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family:
    sans-serif,
    system-ui,
    -apple-system,
    Segoe UI,
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  @apply flex min-h-screen flex-col bg-white text-base font-normal text-col-dark dark:bg-col-dark dark:text-col-light;
}

/* wrapper */
.wrapper {
  @apply mx-auto w-full max-w-[1640px];
}
.sections-wrapper {
  @apply wrapper px-2 pb-8 md:px-8 md:pb-16;
}

/* border */
.border {
  @apply border-2 border-solid;
}
.border-dark {
  @apply border border-col-dark;
}
.border-light {
  @apply border border-col-dark dark:border-col-light;
}
.border-grey {
  @apply border-0 border-b border-solid border-col-grey-dark;
}
.border-hover {
  @apply border border-transparent hover:border-col-dark dark:hover:border-white;
}
.border-hover-blue {
  @apply hover:border-col-blue-sec border-b-2 border-solid border-transparent dark:hover:border-col-blue-dark;
}

/* text */
.font-h2 {
  @apply font-bold sm:text-[28px] sm:leading-8 sm:tracking-[-.25px] lg:text-4xl lg:leading-[44px] lg:tracking-[-.75px];
}
.font-h2-large {
  @apply text-base font-medium sm:text-[32px] sm:leading-8 sm:tracking-[-.8px] lg:text-5xl lg:leading-[56px];
}
.font-h3 {
  @apply font-medium sm:text-xl sm:leading-6 sm:tracking-[-.5px] lg:text-2xl lg:leading-[30px];
}
.font-h3-large {
  @apply font-medium sm:text-[32px] sm:leading-8 sm:tracking-[-.8px];
}
.font-h5 {
  @apply font-medium uppercase sm:text-xs sm:leading-5 sm:tracking-[.5px];
}
.font-span-serif {
  @apply text-sm leading-6 tracking-[.2px];
  font-family: serif;
}
.font-span {
  @apply text-sm leading-6 tracking-[.2px];
}
.font-p {
  @apply sm:text-lg sm:leading-6 lg:text-base;
}
.font-more {
  @apply border-hover-blue text-col-blue-sec focus-within:outline-col-blue-sec active:outline-col-blue-sec focus:outline-col-blue-sec cursor-pointer rounded-sm font-medium focus-within:outline focus-within:outline-2 focus:outline focus:outline-2 active:outline active:outline-2 dark:text-col-blue-dark dark:focus-within:outline-col-blue-dark dark:focus:outline-col-blue-dark dark:active:outline-col-blue-dark;
}
.font-more-l {
  @apply font-more border-hover-blue hidden text-xl leading-7;
}
.font-more-s {
  @apply font-more border-hover-blue text-base leading-6;
}

.language-select {
  background-image: linear-gradient(45deg, transparent 50%, #80868b 0),
    linear-gradient(135deg, #80868b 50%, transparent 0);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  padding-right: 25px;
  background-repeat: no-repeat;
}
.language-select:active,
.language-select:focus,
.language-select:focus-within {
  outline: 2px solid transparent;
  --tw-ring-color: #1a73e8;
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
    calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow);
  border-color: #1a73e8;
}
